{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_home">

    <section class="hero-banner">
      <h1>Carbon Accounting Solutions</h1>
      <div class="hero-btns">
        <a href="#" class="btn">Login</a>
        <a href="#" class="btn">Register</a>
      </div>
    </section>
</section> 

<!-- Developers -->
<section class="section_developers">
  <div class="container">

    <div class="developers" style="display:block;">
      <h1>Meet our Team</h1>      
    </div>

    <div class="developers">
        <div class="box">
          <img src="/static/Borghild.jpg" alt="" class="img_profile">
          <h3>Borghild Nicolaysen</h3>
          <p>  I am from Bergen, Norway, a second year student at NHH. Motivated by our enviromental crisis I am Interested in finding eco-friendly solutions and reducing carbon impact. I hope you will join us on this journey towards a sustainable future. 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn</a>
          </div> 
        </div>
        <div class="box">
          <img src="/static/WhatsApp Image 2024-02-12 at 15.43.16.jpeg" alt="" class="img_profile">
          <h3>Diego Zumárraga</h3>
          <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn</a>
          </div> 
        </div>           
        <div class="box">
          <img src="/static/423422752_847163317210914_6450555646815121555_n.jpg" alt="" class="img_profile">
          <h3>Nozomi Gomi</h3>
          <p>  I am a Kobe University student studying abroad at NHH. I am into the cozy Bergen city and working out at gym. Inspired by start-up companies and entrepreneurs, I have majored in entrepreneurship and value creation for sustainability. As a cat lover, I have been volunteering at a animal shelter here.
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="https://www.linkedin.com/in/nozomi-gomi-28909427b/"  target="_blank">LinkedIn</a>
          </div> 
        </div>     
    </div>

    <div class="developers">
      <div class="box">
        <img src="/static/1628480166382-2.jpeg" alt="" class="img_profile">
        <h3>Eric Klassen</h3>
        <p>I'm a 22 year business management student from London Canada on exchange at NHH. I love technology, and I am interested in discovering how I can use technology to better understand our impact on the environment.
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="https://www.linkedin.com/in/eric-klassen-551616205/"  target="_blank">LinkedIn</a>
        </div> 
      </div>
      <div class="box">
        <img src="/static/Fiona.jpg" alt="" class="img_profile">
        <h3>Fiona Müller</h3>
        <p> I am a 21 years old exchange student at NHH from HEC Lausanne in Switzerland. I like to be creative and also enjoy to be outside in the nature. Getting a better understanding of how our society impacts the climate change is one of my particular interest.  
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="https://www.linkedin.com/in/fiona-alyssa-m%C3%BCller-3b1b81266"  target="_blank">LinkedIn</a>
        </div> 
      </div>               
  </div>
    <div class="developers">
      <div class="box">
        <img src="/static/Bildet.jpeg" alt="" class="img_profile">
        <h3>Oscar Karlsen</h3>
        <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">LinkedIn</a>
        </div> 
      </div>
      <div class="box">
        <img src="/static/Mirei.jpg" alt="" class="img_profile">
        <h3>Mirei Okabayashi</h3>
        <p> 20 years old, exchange student from Japan <br> Hi! I'm currently interested in solving the issues regarding to sustainability. I have many hobbies such as dancing, traveling, baking, and so on. I started crocheting here in Bergen!  
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">LinkedIn</a>
        </div> 
      </div>               
  </div>
  </div>          
</section>
        
{% endblock content %}