{% extends "layout.html" %}
{% block content %}
  
<!-- Header -->
<section class="section_header_methodology">
    <section class="green-transportation-image-banner">
        <div class="box"> 
          <h1 style="font-size:55px;"><span class="text-logo"> Methodology</span></h1>
          <p style="text-align:center;">
              The methodology employed in our CO2 emission calculation app is rooted in scientific precision, utilizing etsablishd formulas and data sources to ensure accurate assessments. For more information, please click on the "PAPER" link.
          </p>
          <div class="container_buttons_links_header">
            <div class="hero-btns">
                <a href="#" class="btn">Paper</a>
                <a href="{{url_for('carbon_app')}}" class="btn">Carbon App</a>
            </div>
          </div>  
        </div>
      </div> 
    </section>
</section> 

<!-- Methodology -->
<section class="section_body_methodology">
    <div class="container">
  
        <div class="methodology" style="display:block;">
            <h1 style="text-align:center;"> Methodology</h1>
            <p style="text-align: center;">
              The amount of CO2 emission is calluculated by the following formula.  
              \[
                a = d*\frac{ef}{p}
                \]  
                a: the amount of CO2 emission<br>
                d: the distance traveled in kilometer<br>
                ef: the emission factor for each vehicle<br>
                p: the number of passengers<br>
            </p>  
        </div>
        <div class="methodology" style="display:block;">
            <h1 style="text-align:center;"> The transportation opptions</h1>
            <p style="text-align: center;">
              We offer the following transportation options.<br>
              This data is calculated only when the following vehicles are in use. The other emissions during manufacture, disposal and maintenance are not taken into account. 
            </p> 
        </div>

        <div class="methodology"> 
            <div class="box_table2" style="height:flex;">
                <ol start="1">
                    <li>
                        <h3>Short distance travel</h3>
                        <h4>Motorbike</h4>
                        <p class="text-left">
                            86.4g of CO2/km
                        </p>
                        <h4>Electric scooter</h4>
                        <p class="text-left">
                            51g of CO2/km
                        </p>
                    </li>
                </ol>                        
            </div>
            <div class="box_table2" style="height:flex;">
                <ol start="2">
                    <li>
                        <h3>Middle distance travel</h3>
                        <h4>Cars</h4>
                        <p class="text-left">
                            <p>
                            Conventional car: 143g/km
                            </p>

                            <p>Electric car: 68g/km
                            </p>
                            

                            <p>Electric car charged with energy from renewable: 43g/km
                            </p>

                            <p>Hybrid car: 92g/km</p>

                            <p>Diesel car: 111g/km</p>
                        </p>

                        <h4>Train</h4>
                        <p class="text-left">
                            2184g/km
                        </p>
                        <h4>Bus</h4>
                        <p class="text-left">
                            863.6g/km
                        </p>
                        <h4>Tram</h4>
                        <p class="text-left">
                            ??
                        </p>
                    </li>
                </ol>
            </div>  
            <div class="box_table2" style="height:flex;">
                <ol start="3">
                    <li>
                        <h3>Long distance travel</h3>
                        <h4>Airplane</h4>
                        <p class="text-left">
                            25080g/km
                        </p>
                        <h4>Ferry</h4>
                        <p class="text-left">
                            ??
                        </p>
                    </li>
                </ol>
            </div>
            <div class="box_table2" style="height:flex;">
                <ol start="4">
                    <li>
                        <h3>Carbon free travel</h3>
                        <h4>Walking</h4>
                        <h4>Bicycle</h4>
                    </li>
                </ol>
            </div>  
        </div>
    </div>
</section>           

{% endblock content %}